.error {
  color: #CE1212;
}

.red-button {
  background-color: #FD6969;
  color: white;
}

.small-margin{
  margin-left: 5px;
}

button.small {
  line-height: 20px;
  height: 20px;
}

.expense {
  margin-bottom: 6px;
  cursor: pointer;
}

#home .expense:hover {
  background-color: #F0F0F0;
  color: black;
}


.big-text {
  font-size: large;
}

.small-text {
  font-size: small;
}

.x-small-text {
  font-size: x-small;
}

button.enabled,
.enabled {
  background-color: #4AD24A;
  color: white;
}

.one-week h5{
  margin: 40px 0 0 0;
}

.one-week:first-child h5 {
  margin: 0 0 0 0;
}
